@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  
    /* Basic styling */
    body {
      font-family: 'Kumbh Sans', sans-serif;
      margin:0.5rem;
    }
    a {
      cursor: none;
    }
    h1 {
          padding: 0 1rem;
          font-family: 'Kumbh Sans', sans-serif;
          font-size: 1.25rem;
          font-weight:700;
          letter-spacing:0.2px;
          margin:-1px;
            color:#000;
        }
        h3 {
          padding: 0 ;
          color: #fff;
          font-family: 'Kumbh Sans', sans-serif;
          font-size: 1.25rem;
          font-weight:700;
          letter-spacing:0.2px;
          margin:-1px
        }
    .container_title {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .column_title {
        padding: 1rem 1.5rem 0rem 1rem;
        border: 1px solid #fff;
    }
    .column_title:nth-child(1){
        width: 15%;
        text-align:left;
    }
    
    .column_title:nth-child(3) {
        width: 20%;
        text-align:right;
        margin-right: 0rem;
    }
    .column_title:nth-child(2) {
        width: 65%;
        text-align: center;
     
    }
    .container {
      max-width: 1200px;
      margin: 0 auto 3rem;
      padding: 0rem 0.5rem;
    }
    /* Grid layout */
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
    }
    .item {
      position:relative;
      border: 1px solid #fff;
      text-align: center;
      transition: transform 0.5s ease;
      cursor:none;
    }
    /* Image */
    .item img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 0.3s, filter 0.3s;
    filter: brightness(0.8);
    mask-image: linear-gradient(to bottom, #000000, black);
    cursor:none;
    }

    .item img:hover {
        transform: scale(0.99); /* Zoom in effect */
        filter: brightness(0.7); /* Increase brightness */
    }
    /* Caption */
    .caption {
      padding: 10px;
      display:none;
    }
    /* Sub-caption */
    .sub-caption {
      position:absolute;
      bottom:0;
      display: grid;
      grid-template-columns: 1fr 0.8fr;
      grid-gap: 10px;
      padding: 0rem;
      width: 100%;
    }

    .left-column {
      text-align: left; /* Align left */
      margin: 0.5rem;
    }

    .right-column {
      text-align: right; /* Align right */
    }

    .sub-caption div {
      border: 0px solid #fff;
      padding: 1rem;
      font-weight: 600;
      font-family: 'Kumbh Sans', sans-serif;
      font-size: 0.8rem;
      color: #fff;
      line-height: 1rem;
      letter-spacing: 0px;
      text-shadow: 0 0 20px black;
    }
    
    /* Filter buttons */
    .filter-btns {
      margin-bottom:0rem;
      text-align: center;
    }
    .filter-btn {
   
    background-color: #fff;
    color: #000;
    border: solid 1px #d3d3d3;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1.5rem 0.2rem;
    height: 75px;
    width: 17%;
    max-width: 100px;
    font-size: 0.7rem;
    font-family:'Kumbh Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    cursor: none;
      }
    .filter-btn.active {
      background-color: #2234ff;
      color: #fff;
    }
    /* Search bar */
    .container_search {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1200px;
        margin: 1rem auto 0;
    }
    .column_search {
        padding: 0px;
        border: 1px solid #fff;
    }
    .column_search:nth-child(1){
        width: 85%;
        text-align:left;
    }
    .column_search:nth-child(2) {
        width: 15%;
    margin: 0px 0.5rem;
    text-align: right;;
    }
    .search-bar {
      margin-bottom: 20px;
    }
    .search-input {
      padding: 0.9rem;
    width: calc(100% - 7%);
    outline: none;
    font-size: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
    border: solid 1px #c9c9c9;
    border-radius: 0.5rem;
    }
    .search-btn {
      padding: 10px;
    background-color: #2234ff;
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: none;
    width: 3rem;
    height: 3.1rem;
    }
    /* Load more button */
    .load-more-btn {
      display: none;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #ff680e;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: 600;
      font-family: 'Kumbh Sans', sans-serif;
    }
